// App Colors


// Calendar Colors
$banana: rgb(245, 192, 58);
$basil: rgb(17, 129, 71);
$blueberry: rgb(66, 78, 178);
$flamingo: rgb(228, 124, 116);
$grape: rgb(142, 26, 167);
$graphite: rgb(97, 97, 97);
$lavendar: rgb(122, 132, 201);
$peacock: rgb(121, 185, 225);
$sage: rgb(55, 183, 124);
$tangerine: rgb(242, 81, 37);
$tomato: rgb(211, 0, 6);


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
