.calendar-monthly__title {
    display: flex;
    font-size: $m-font;
    margin: 0;
    padding: $s-size 0;
    position: relative;
    justify-content: space-around;
    width: 100%;
}

.calendar-monthly__weekday-titles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0 $s-size;
    div {
        font-size: $xxs-font;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        padding: 0 0 $xxxs-size 0;
    }
}

.calendar-monthly__month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2fr;
    grid-auto-rows: 2fr;
    margin: 0 $s-size $s-size;
    border-top: solid 1px $border;
    border-left: solid 1px $border;

    .calendar-day {
        align-items: center;
        box-shadow: 1px 1px 1px 0px $border;
        // border-bottom: solid 1px $border;
        // border-right: solid 1px $border;
        display: flex;
        font-size: $xxs-font;
        padding-top: 125%;
        position: relative;
        justify-content: center;
        width: 100%;
    }
    
    .content {
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        cursor: pointer;

        svg {
            display: none;
        }
    }
    
    .day-num {
        position: relative;
        padding: 0 $xxxs-size;
    }

    .day-event {
        border-radius: 50%;
        height: $xs-icon;
        overflow: hidden;
        margin: 11% auto $xl-size;
        text-indent: $l-size;
        width: $xs-icon;
    }
    
    .pre-next {
        color: #ccc;

        .day-event {
            opacity: .3;
        }
    }
    
    .current-day {
        color: $main;
        border-top: solid 2px $main;
    
        .day-num {
            margin-top: -2px;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: $mobile) {
    .calendar-monthly__title {
        padding: $m-size 0;
    }
    
    .calendar-monthly__weekday-titles {
        margin: 0 $m-size;
    }

    .calendar-monthly__month {
        margin: 0 $m-size $m-size;

        .content {
            svg {
                display: block;
                fill: $grey;
                height: $s-icon;
                margin-bottom: -$s-font;
                position: absolute;
                bottom: $xxs-font;
                right: -$xxxxs-icon;
            }
        }

        .day-event {
            border-radius: 0;
            color: white;
            font-size: $xxxxs-font;
            height: auto;
            line-height: $xxxxs-icon;
            margin: 0;
            overflow: hidden;
            padding: $xxxxs-size $xxxxs-size $xxxs-size;
            text-indent: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }

        .hidden {
            text-indent: -999px;
        }
    }
}

@media only screen and (min-width: 400px) {
    .calendar-monthly__month {
        .day-event {
            line-height: $xxxxs-font;
        }
    }
}

@media only screen and (min-width: $tabletSmall) {
    .calendar-monthly__title {
        font-size: $l-font;
        padding: $m-size 0;
    }

    .calendar-monthly__month {
        .calendar-day {
            font-size: $xs-font;
            padding-top: 100%;
        }
        
        .day-num {
            position: relative;
            padding: $xxxxs-size $xxs-size;
        }
    }
}

@media only screen and (min-width: $tablet) {
    .calendar-monthly__title {
        font-size: $xxl-font;
        padding: $m-size 0;
    }

    .calendar-monthly__weekday-titles {
        margin: 0 $s-size;

        div {
            font-size: $s-font;
            padding: 0;
            text-align: center;
            text-transform: uppercase;
            padding: 0 0 $xs-size 0;
        }
    }

    .calendar-monthly__month {
        .calendar-day {
            font-size: $s-font;
            padding-top: 100%;
        }

        .content {
            svg {
                display: block;
                fill: $grey;
                height: $m-icon;
                margin-bottom: -$s-font;
                position: absolute;
                bottom: $xxs-font;
                right: -$xxxxs-size;
            }
        }
        
        .day-num {
            position: relative;
            padding: $xxxxs-size $xxs-size;
        }

        .day-event {
            font-size: $xxs-font;
            line-height: 1;
            padding: $xxxs-size $xxs-size $xxs-size;
        }
    }
}
@media only screen and (min-width: $desktop) {
    .calendar-monthly__title {
        font-size: $xl-font;
        padding: $m-size 0 $xl-size;
    }
    
    .calendar-monthly__month {
        .calendar-day {
            font-size: $s-font;
            padding-top: 120%;
            z-index: 0;
        }

        .day-event {
            border-right: 1px solid;
            width: calc(100% + 1px);
            z-index: 9999;
        }
    }
}