.header {
    position: relative;
    width: 100%;
    background-image: linear-gradient(12deg, $pink, 20%, $orange);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: $s-size 0;

    h1 {
        color: white;
        font-size: $m-font;
        font-weight: 300;
        padding: 0;
        margin: 0;
        margin-top: -$xxxs-size;
    }
    h1:hover {
        color: #ccc;
    }
}

.footer {
    position: relative;
    width: 100%;
}

.footer__content {
    align-items: center;
    background: #eee;
    border: solid 1px $border;
    color: #aaa;
    display: flex;
    font-size: $xxs-font;
    font-weight: 400;
    justify-content: flex-end;
    letter-spacing: $xxxxs-size;
    padding: $s-size;
    text-transform: uppercase;
}

@media only screen and (min-width: $mobile) {
    .header__content {
        padding: $m-size 0;

        h1 {
            font-size: $l-font;
        }
    }

    .footer {
        margin: $m-size 0 0;
    }

    .footer__content {
        font-size: $xs-font;
        padding: $m-size;
    }
}

@media only screen and (min-width: $tablet) {
    .header__content {
        padding: $m-size 0;

        h1 {
            font-size: $xxl-font;
        }
    }

    .footer {
        margin: $l-size 0 0;
    }

    .footer__content {
        font-size: $s-font;
        padding: $m-size;
    }
}