.calendar-weekly__title {
    display: flex;
    font-size: $m-font;
    margin: 0;
    padding: $s-size 0;
    position: relative;
    justify-content: space-around;
    width: 100%;
}

.calender-weekly__view {
    display: flex;
    flex-direction: column;
    padding: 0 $s-size;
    width: 100%;
}



.calendar-weekly__weekday {
    display: flex;
    align-items: flex-start;
    margin-bottom: $s-size;

    .weekday-title {
        color: #999;
        font-size: $s-font;
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-align: center;
        text-transform: uppercase;
        padding: $s-size $s-size 0 0;
    }

    .calendar-day {
        align-items: center;
        border: solid 1px $border;
        display: flex;
        font-size: $xxs-font;
        padding-top: 80%;
        position: relative;
        justify-content: center;
        width: 100%;
    }
    
    .content {
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .day-num {
        position: relative;
        padding: $xs-size;
        font-size: $s-font;
        margin-left: 2px;
    }
    
    .pre-next {
        color: #ccc;
    }
    
    .current-day {
        color: $peacock;
        border-left: solid 2px $peacock;
    
        .day-num {
            margin-left: 0px;
            font-weight: bold;
        }
    }
}