.color-picker__wrapper {
    position: relative;
}
.color-picker__selected {
    position: relative;
}
.color-picker__title {
    display: block;
    height: 24px;
    width: 24px;
    position: relative;
}
.color-picker__title::before {
    content: ' ';
}

.color-picker__select div {
    display: block;
    height: 24px;
    width: 24px;
    position: relative;
}
.color-picker__select div::before {
    content: ' ';
}