.holiday {
    .day-event {
        background: $main;
    }
    .event-title {
        border-color: $main;
    }
    .event-bullet {
        background: $main;
    }
}

.banana {
    .day-event {
        background: $banana;
    }
    .event-title {
        border-color: $banana;
    }
    .event-bullet {
        background: $banana;
    }
}

.basil {
    .day-event {
        background: $basil;
    }
    .event-title {
        border-color: $basil;
    }
    .event-bullet {
        background: $basil;
    }
}

.blueberry {
    .day-event {
        background: $blueberry;
    }
    .event-title {
        border-color: $blueberry;
    }
    .event-bullet {
        background: $blueberry;
    }
}

.flamingo {
    .day-event {
        background: $flamingo;
    }
    .event-title {
        border-color: $flamingo;
    }
    .event-bullet {
        background: $flamingo;
    }
}

.grape {
    .day-event {
        background: $grape;
    }
    .event-title {
        border-color: $grape;
    }
    .event-bullet {
        background: $grape;
    }
}

.graphite {
    .day-event {
        background: $graphite;
    }
    .event-title {
        border-color: $graphite;
    }
    .event-bullet {
        background: $graphite;
    }
}

.lavendar {
    .day-event {
        background: $lavendar;
    }
    .event-title {
        border-color: $lavendar;
    }
    .event-bullet {
        background: $lavendar;
    }
}

.peacock {
    .day-event {
        background: $peacock;
    }
    .event-title {
        border-color: $peacock;
    }
    .event-bullet {
        background: $peacock;
    }
}

.sage {
    .day-event {
        background: $sage;
    }
    .event-title {
        border-color: $sage;
    }
    .event-bullet {
        background: $sage;
    }
}

.tangerine {
    .day-event {
        background: $tangerine;
    }
    .event-title {
        border-color: $tangerine;
    }
    .event-bullet {
        background: $tangerine;
    }
}

.tomato {
    .day-event {
        background: $tomato;
    }
    .event-title {
        border-color: $tomato;
    }
    .event-bullet {
        background: $tomato;
    }
}