.calendar-view__title {
    margin: 0 auto;
    padding: $xxl-size $m-size $l-size;
    position: relative;
    width: 80%;
    font-size: $m-font;
    text-align: center;
    text-transform: uppercase;
}

.calendar-view__event-details {
    display: flex;
    flex-direction: column;
    margin: $xxxs-size $s-size 0;
    padding: 0 0 $m-size;
    width: calc(100% - $s-size * 2);
}
.event-title {
    font-size: $m-font;
    font-weight: 400;
}
.event-date__view, .event-location__view, .event-notes__view {
    align-items: flex-start;
    color: $grey;
    display: flex;
    font-size: $s-font;
    justify-content: flex-start;
    margin-top: $xxxs-size;

    svg {
        padding: 0;
        fill: $grey;
        height: $m-icon;
        margin-right: $xxs-size;
        width: $m-icon;
    }
}

.event-date__text {
    align-items: center;
    color: $grey;
    display: flex;
    margin-bottom: $s-size;

    svg {
        fill: $main;
        height: $m-icon;
        margin: 0 $xs-size;
        width: $m-icon;
    }
}
.start-date, .end-date {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    .date {
        all: unset;
        font-size: $s-font;
        font-weight: bold;
    }
    .time {
        all: unset;
        font-size: $xxs-font;
    }
}

.event-location__text {
    align-items: flex-start;
    color: $grey;
    display: flex;
    margin-bottom: $s-size;
    flex-direction: column;

    .description {
        all: unset;
        font-size: $s-font;
        font-weight: bold;
    }
    .address {
        all: unset;
        font-size: $xxs-font;
    }
}

.event-location__map {
    border: solid 1px $lightgrey;
    border-radius: $xxxs-size;
    height: $s-map;
    width: 100%;
}

.event-notes__view {
    margin-top: $s-size;
    svg {
        height: $xxl-icon;
        margin: 0 $xs-size 0 0;
        width: $xxl-icon;
    }
}
.event-notes__text {
    align-items: flex-start;
    color: $grey;
    display: flex;
    flex-direction: column;

    .title {
        all: unset;
        font-size: $s-font;
        font-weight: bold;
        margin-top: $xxxs-size;
    }
    .notes {
        all: unset;
        font-size: $s-font;
    }
}

@media only screen and (min-width: $mobile) {
    .calendar-view__event-details {
        margin: $xxxs-size $m-size 0;
        width: calc(100% - $m-size * 2);
    }

    .event-date__text {
        margin-bottom: $m-size;
    }
    .start-date, .end-date {
        .date {
            font-size: $s-font;
            font-weight: bold;
        }
        .time {
            all: unset;
            font-size: $xs-font;
        }
    }

    .event-location__text {
        margin-bottom: $m-size;
    
        .address {
            font-size: $xs-font;
        }
    }
}