// Color Select Menu
.color-selector__selected {
    background: white;
    position: relative;
    display: flex;
    width: fit-content;
    padding: 1px $xxxs-size 0 $s-size;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #e8e8e8;
    border-radius: $xxxs-size;
    color: #999;
    cursor: pointer;
    text-transform: uppercase;

    svg {
        fill: $main;
    }
}

.color-selector__title {
    display: block;
    margin: $xs-size $xxs-size $xs-size 0;
    height: $s-icon;
    width: $l-icon;
    border-radius: $s-size;
}

.color-selector__selector {
    position: absolute;
    width: fit-content;
    margin-top: 1px;
    left: 0;
    border-radius: $xxxs-size;
    background: white;
    border: solid 1px #e8e8e8;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
    z-index: 999;
}

.color-selector__selector.open {
    transform: scaleY(100%);
    .color-selector__select {
        opacity: 1;
        transition: opacity 350ms ease-in-out 150ms;
    }
}

.color-selector__select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $s-size;
    padding: $s-size;
    opacity: 0;
    transition: opacity 450ms ease-in-out -100ms;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: $m-icon;
        width: $xl-icon;
        border-radius: $s-size;
        cursor: pointer;
        border: solid 1px #e8e8e8;
    }
    div:hover {
        background: #e8e8e8;
    }
    div.selected::before {
        content: ' ';
        height: $xxs-size;
        width: $s-size;
        border-radius: $xs-size;
        background: white;
        color: white;
    }
}

// Month Select Menu
.month-selector__selected {
    background: white;
    position: relative;
    display: flex;
    width: fit-content;
    padding: $xs-size $xs-size $xs-size $s-size;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #e8e8e8;
    color: #999;
    cursor: pointer;
    text-transform: uppercase;

    svg {
        fill: $main;
    }
}

.month-selector__title {
    margin-right: $s-size;
    width: 8ch;
}

.month-selector__selector {
    position: absolute;
    width: fit-content;
    margin-top: 1px;
    left: -25%;
    border-radius: $xxs-size;
    background: white;
    border: solid 1px #e8e8e8;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
    z-index: 999;
}

.month-selector__selector.open {
    transform: scaleY(100%);
    .month-selector__select {
        opacity: 1;
        transition: opacity 350ms ease-in-out 150ms;
    }
}

.month-selector__select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $s-size;
    padding: $s-size;
    opacity: 0;
    transition: opacity 450ms ease-in-out -100ms;

    div {
        text-align: center;
        font-size: $s-size;
        text-transform: uppercase;
        border-radius: $xxs-size;
        padding: $xs-size $s-size;
        cursor: pointer;
        border: solid 1px #e8e8e8;
    }
    div:hover {
        background: #e8e8e8;
    }
    div.selected {
        background: $main;
        color: white;
    }
}

// Year Select Menu
.year-selector__selected {
    background: white;
    position: relative;
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #e8e8e8;
    color: #999;
    padding: $xs-size $xs-size $xs-size $s-size;
    cursor: pointer;
    text-transform: uppercase;

    svg {
        fill: $main;
    }
}

.year-selector__title {
    margin-right: $m-size;
}

.year-selector__selector {
    position: absolute;
    width: fit-content;
    margin-top: 1px;
    border-radius: $xxs-size;
    background: white;
    border: solid 1px #e8e8e8;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
    z-index: 999;
}

.year-selector__selector.open {
    transform: scaleY(100%);
    .year-selector__select {
        opacity: 1;
        transition: opacity 350ms ease-in-out 150ms;
    }
}

.year-selector__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: $l-size;
    padding: $xxs-size 0;
    
    button {
        display: flex;
        background: none;
        padding: 0;
        margin: 0;
        border: none;
        align-items: center;

        svg {
            fill: $main;
        }
    }
}

.year-selector__select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $s-size;
    padding: $s-size;
    opacity: 0;
    transition: opacity 450ms ease-in-out -100ms;
    
    div {
        text-align: center;
        font-size: $s-size;
        text-transform: uppercase;
        border-radius: $xxs-size;
        padding: $xs-size $s-size;
        cursor: pointer;
        border: solid 1px #e8e8e8;
    }
    div:hover {
        background: #e8e8e8;
    }
    div.selected {
        background: $main;
        color: white;
    }

    .pre-next {
        cursor: default;
        border-color: #eee;
        color: #ddd;
    }
    .pre-next:hover {
        background: none;
    }
}

@media only screen and (min-width: $tabletSmall) {
    // Month Select Menu
    .month-selector__selected {
        padding: $xxs-size $xxxs-size $xxs-size $xs-size;
    }

    // Year Select Menu
    .year-selector__selected {
        padding: $xxs-size $xxxs-size $xxs-size $xs-size;
    }
}

@media only screen and (min-width: $tablet) {
    // Color Select Menu
    .color-selector__selected {
        padding: 1px $xxxs-size 0 $s-size;

        svg {
            height: $xxl-icon;
            width: $xxl-icon;
        }
    }

    .color-selector__title {
        display: block;
        margin: $s-size $s-size $s-size 0;
        height: $l-icon;
        width: $xxxl-icon;
        border-radius: $s-size;
    }

    .color-selector__select {
        
        div {
            height: $l-icon;
            width: $xxxl-icon;
        }
    }

    // Month Select Menu
    .month-selector__selected {
        font-size: $m-font;
        line-height: 1.9;
        padding: $xs-size $xs-size $xs-size $m-size;

        svg {
            height: $xxl-icon;
            width: $xxl-icon;
        }
    }

    .month-selector__selector {
        margin-top: $xxxs-size;
        left: 0;
        border-radius: $xxxxs-size;
    }

    .month-selector__select {
        grid-gap: $m-size;
        padding: $m-size;
    
        div {
            text-align: center;
            font-size: $m-font;
            padding: $s-size $m-size;
        }
    }

    // Year Select Menu
    .year-selector__selected {
        font-size: $m-font;
        line-height: 1.9;
        padding: $xs-size $xs-size $xs-size $m-size;

        svg {
            height: $xxl-icon;
            width: $xxl-icon;
        }
    }

    .year-selector__selector {
        left: 0;
        margin-top: $xxxs-size;
        border-radius: $xxxxs-size;
        width: fit-content;
    }
    
    .year-selector__nav {
        font-size: $m-font;
        line-height: $l-size;
        padding: $m-size 0;
        .year-selector__range {
            flex: 1;
            font-size: $m-font;
            text-align: center;
        }
        button {
            padding: 0 $s-size;
    
            svg {
                height: $xxl-icon;
                width: $xxl-icon;
            }
        }
    }
    
    .year-selector__select {
        grid-gap: $m-size;
        padding: 0 $m-size $m-size;
        
        div {
            text-align: center;
            font-size: $m-font;
            padding: $s-size $m-size;
        }
        div:hover {
            background: #e8e8e8;
        }
        div.selected {
            background: $main;
            color: white;
        }
    
        .pre-next {
            cursor: default;
            border-color: #eee;
            color: #ddd;
        }
        .pre-next:hover {
            background: none;
        }
    }
}

@media only screen and (min-width: $desktop) {
    // Color Select Menu
    .color-selector__selected {
        background: white;
        position: relative;
        display: flex;
        width: fit-content;
        padding: $xxs-size $xxxs-size $xxs-size $s-size;
        justify-content: space-between;
        align-items: center;
        border: solid 1px #e8e8e8;
        border-radius: $xxxs-size;
        color: #999;
        cursor: pointer;
        text-transform: uppercase;

        svg {
            fill: $main;
        }
    }

    .color-selector__title {
        display: block;
        margin: $xxs-size $xxs-size $xxs-size 0;
        height: $m-icon;
        width: $xxl-icon;
        border-radius: $s-size;
    }

    .color-selector__selector {
        position: absolute;
        width: fit-content;
        margin-top: 1px;
        left: 0;
        border-radius: $xxxs-size;
        background: white;
        border: solid 1px #e8e8e8;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 500ms ease-in-out;
        z-index: 999;
    }

    .color-selector__selector.open {
        transform: scaleY(100%);
        .color-selector__select {
            opacity: 1;
            transition: opacity 350ms ease-in-out 150ms;
        }
    }

    .color-selector__select {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $s-size;
        padding: $s-size;
        opacity: 0;
        transition: opacity 450ms ease-in-out -100ms;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: $m-icon;
            width: $xl-icon;
            border-radius: $s-size;
            cursor: pointer;
            border: solid 1px #e8e8e8;
        }
        div:hover {
            background: #e8e8e8;
        }
        div.selected::before {
            content: ' ';
            height: $xxs-size;
            width: $s-size;
            border-radius: $xs-size;
            background: white;
            color: white;
        }
    }

    // Month Select Menu
    .month-selector__selected {
        padding: $xxxs-size $xxs-size $xxxs-size $s-size;
    }

    .month-selector__title {
        font-size: $s-font;
        margin-right: $s-size;
        width: 8ch;
    }

    .month-selector__selector {
        left: 0;
        margin-top: 1px;
        border-radius: $xxxxs-size;
    }

    .month-selector__select {
        grid-gap: $s-size;
        padding: $s-size;

        div {
            text-align: center;
            font-size: $xs-font;
        }
    }

    // Year Select Menu
    .year-selector__selected {
        padding: $xxxs-size $xxs-size $xxxs-size $s-size;
    }

    .year-selector__title {
        font-size: $s-font;
        margin-right: $m-size;
    }

    .year-selector__selector {
        margin-top: 1px;
        border-radius: $xxxxs-size;
    }

    .year-selector__nav {
        font-size: $s-font;
        line-height: $s-size;
        padding: $xxs-size 0 0;

        .year-selector__range {
            flex: 1;
            font-size: $s-font;
            text-align: center;
        }
    }

    .year-selector__select {
        grid-gap: $s-size;
        padding: $s-size;
        
        div {
            font-size: $s-size;
            padding: $xs-size $s-size;
        }
    }
}