html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: $m-size;
}

*, *:after, *:before {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

#root > div {
    padding-bottom: $s-size;
}

@media only screen and (min-width: $mobile) {
    #root > div {
        padding-bottom: $m-size;
    }
}